# Copyright (c) 2020 The ZMK Contributors
# and (c) 2022 tubbytwins (Matthew A. Schnoor) and beekeeb
# SPDX-License-Identifier: MIT



if SHIELD_KISLEDSTENO30

config ZMK_KEYBOARD_NAME
    default "KisledSteno30"
# default should be <=16 Character for bluetooth

endif
